.contact main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: calc(1rem + 3.25vw);
    }

    header {
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        input {
            margin: 1.5rem 0;
            height: 2.5rem;
            max-width: 50%;
        }

        div {
            padding: 0;
            margin: 0;
        }
    }

    .headshot {
        display: none;
        border-radius: 0.5rem;
        order: 1;
        max-width: 20rem;
        margin: 1rem auto;
    }

    @media (min-width: 1000px) {
        /* .banner {
        flex-direction: row;
      } */

        .headshot-mobile {
            display: none;
        }

        .headshot {
            display: block;
            margin: 0;
            /* margin-right: calc(2rem + 10vw); */
            position: absolute;
            top: 20%;
            right: -1rem;
            order: 2;
            max-width: 100%;
            width: calc(50vw - 3rem);
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}


.contact main div {
    display: block;

}

.contact main div span {
    display: block;
}