.contact main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-size: calc(1rem + 3.25vw);
  }

  header {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding-bottom: 0rem;

    input {
      margin: 1.5rem 0;
      height: 2.5rem;
      max-width: 50%;
    }

    div {
      padding: 0;
      margin: 0;
    }
  }

  h5 {
    display: block;

    line-height: 1.875;
    font-size: calc(1.125rem + 0.875vw);
    letter-spacing: 0.015rem;
    font-weight: 520;

    span {
      display: block;
      font-size: calc(0.675rem + 0.25vw);
      line-height: 1.4;
      letter-spacing: 0.0675rem;
      font-weight: 320;
      font-family: monospace;
      text-transform: uppercase;
    }
  }

  .placeholder-icon {
    border-radius: 50%;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    margin: 0 1.5rem;
  }

  .headshot {
    display: none;
    border-radius: 0.5rem;
    order: 1;
    max-width: 20rem;
    margin: 1rem auto;
  }

  section {
    padding-left: 1.5rem;
    display: block;
    width: 100%;

    > div {
      display: flex;
      width: 100%;
      padding-bottom: 0.75rem;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2.25rem;

      border-bottom: 1px solid
        color-mix(in srgb, var(--foreground), transparent 75%);
    }
  }

  @media (min-width: 1000px) {
    /* .banner {
        flex-direction: row;
      } */

    .headshot-mobile {
      display: none;
    }

    .headshot {
      display: block;
      margin: 0;
      /* margin-right: calc(2rem + 10vw); */
      position: absolute;
      top: 20%;
      right: -1rem;
      order: 2;
      max-width: 100%;
      width: calc(50vw - 3rem);
      transform: translateY(-50%);
      z-index: -1;
    }
  }
}

.contact main div {
  display: block;
}

.contact main div span {
  display: block;
}
