.engagements main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: calc(1rem + 3.25vw);
    }

    header {
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        input {
            margin: 1.5rem 0;
            height: 2.5rem;
            max-width: 50%;
        }

        div {
            padding: 0;
            margin: 0;
        }
    }

    section {
        padding: 0rem 3rem;
    }

    .headshot {
        display: none;
        border-radius: 0.5rem;
        order: 1;
        max-width: 20rem;
        margin: 1rem auto;
    }

    h3 {
        line-height: 1.875;
        font-size: calc(0.675rem + 0.75vw);
        letter-spacing: 0.0125rem;
        font-weight: 360;
        background-color: color-mix(in srgb, var(--background), transparent 25%);
        border-radius: 0.2rem;
        max-width: 75%;
    }

    h4 {
        font-family: monospace;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    h5 {
        display: block;
        margin-bottom: 2.25rem;

        line-height: 1.875;
        font-size: calc(1.125rem + 0.875vw);
        letter-spacing: 0.015rem;
        font-weight: 520;
        padding-bottom: 0.75rem;

        border-bottom: 1px solid color-mix(in srgb, var(--foreground), transparent 75%);

        span {
            display: block;
            font-size: calc(0.75rem + 0.75vw);
            line-height: 1.4125;
            letter-spacing: 0.01rem;
            font-weight: 320;
        }
    }

    @media (min-width: 1000px) {
        /* .banner {
        flex-direction: row;
      } */

        .headshot-mobile {
            display: none;
        }

        .headshot {
            display: block;
            margin: 0;
            /* margin-right: calc(2rem + 10vw); */
            position: absolute;
            top: 20%;
            right: -1rem;
            order: 2;
            max-width: 100%;
            width: calc(50vw - 3rem);
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}