.portfolio main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: calc(1rem + 3.25vw);
    }

    .svg-logo {
        margin-left: auto;
        display: block;
        height: 0.75rem;

        path {
            fill: var(--foreground);
        }


        &.vox {
            height: 1rem;
        }

    }

    header {
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        input {
            margin: 1.5rem 0;
            height: 2.5rem;
            max-width: 50%;
        }

        div {
            padding: 0;
            margin: 0;
        }
    }

    .headshot {
        display: none;
        border-radius: 0.5rem;
        order: 1;
        max-width: 20rem;
        margin: 1rem auto;
    }

    @media (min-width: 1000px) {
        /* .banner {
        flex-direction: row;
      } */

        .headshot-mobile {
            display: none;
        }

        .headshot {
            display: block;
            margin: 0;
            /* margin-right: calc(2rem + 10vw); */
            position: absolute;
            top: 20%;
            right: -1rem;
            order: 2;
            max-width: 100%;
            width: calc(50vw - 3rem);
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}


.portfolio main div {
    display: block;

}

.portfolio main div span {
    display: block;
}

.portfolio .article {
    padding: 1rem 2rem;
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
    /* border-radius: 0.2rem; */
    margin: 1rem;
    position: relative;
    overflow: hidden;
    /* border-right: 2px solid white; */
    animation: fadeIn 270ms ease-in-out both;

    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.portfolio button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;
}

.portfolio .article img.b {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    max-height: 77px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    filter: blur(0.75rem) saturate(150%);
    opacity: 0.67;
}

.portfolio .article img.a {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    max-height: 77px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    filter: blur(4rem) saturate(400%);
    opacity: 0.9;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-0.67rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}