/* .portfolio main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portfolio main div {
  display: block;
}

.portfolio main div span {
  display: block;
}

.portfolio .article {
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.portfolio button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  background-color: transparent;
  color: white;
}

.portfolio .article img {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

*/